.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  border-radius: 20px;
  background: WHITE;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  padding: 30px;
}
.Values {
  display: flex;
  justify-content: space-around;
}
.myself {
  display: flex;
  justify-content: space-around;
}
.picture-me {
  width: 600px;
  height: 600px;
  border-radius: 10px;
}
.image-me,
.words-me {
  flex: 1;
}
.herosection {
  background: #eff6ff;
  padding: 10px;
  margin-bottom: 10px;
}
.mainSection {
  background: #f8fafc;
}

.card:hover {
  transform: translateY(-8px);
}

.value {
  border-radius: 20px;
  background: WHITE;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  padding: 30px;
}

.value:hover {
  transform: translateY(-8px);
}
.story-content {
  border-left: 5px solid #2563eb;
  padding: 30px;
  background: white;
  margin: 50px;
}
.quote {
  border: 1px solid black;
  display: inline-block;
}
@media (max-width: 768px) {
  .herosection h1 {
    font-size: 20px;
  }
  .herosection p {
    font-size: 15px;
  }

  .picture-me {
    width: 400px;
    height: 400px;
  }
  .myself {
    padding: 10px;
  }

  .story-content h2 {
    font-size: 20px;
  }
  .story-content p {
    font-size: 14px;
  }
  .quote p {
    font-size: 13px;
    padding: 6px;
  }
  .middle h2 {
    font-size: 20px;
  }
  .card h4 {
    font-size: 15px;
  }
  .card p {
    font-size: 13px;
  }
  .cards {
    gap: 8px;
    padding: 10px;
  }
  .value h5 {
    font-size: 15px;
  }
  .value p {
    font-size: 13px;
  }
  .Values {
    gap: 8px;
    padding: 10px;
  }
  .middle-1 h2 {
    font-size: 20px;
  }
  .middle-2 h2 {
    font-size: 20px;
  }
  .middle-2 p {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
